@model Karvis.Domain.ViewModels.SearchViewModel
@{
    Layout = null;
}           

<fieldset><legend>جستجو</legend>

        <form class="ef-contact1"  method="post" action="@Url.Action("Search")">
            <div class="one_third">
          @Html.LabelFor(x=>x.SearchTerm)
                @Html.TextBoxFor(x=>x.SearchTerm)
                @Html.ValidationMessageFor(x=>x.SearchTerm)
            </div>
            <div class="one_third">
                 @Html.LabelFor(x=>x.SearchTag)
                @Html.TextBoxFor(x=>x.SearchTag)
                @Html.ValidationMessageFor(x=>x.SearchTag)
                
            </div>
            <div class="one_third">
@Html.DropDownList("AdSource", Model.SearchSource)

            </div>
            <div class="send-wrap alignright">
                <div class="button">
                    <input class="send1" name="send1" type="submit" value="جستجو">
                </div>
            </div>
        </form>
        </fieldset>