@model Karvis.Domain.ViewModels.JobDescriptionViewModel

@{
    ViewBag.Title = "جزییات شغل";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="ef-inner clearfix">

    <h2>@Model.JobSummeryViewModel.Title</h2>
    <div class="divider1"></div>

        <ul class="post-info">
			                    	<li>  <a target="برای دیدن صفحه ی اصلی کلیک کنید." href="@Model.Link">@Model.JobSummeryViewModel.AdSource</a></li>                    	
			                    	<li>@Model.JobSummeryViewModel.DateAdded</li>
			                    	<li><b>تعداد مشاهده  : </b> @Model.JobSummeryViewModel.VisitCount </li>
			                    </ul>
	                
    <div class="ef-post">
        
        <p>
            @Model.Description
        </p>
            <div class="divider"></div>
	             	  	
			
    <div class="post-tags">
        <div class="tag-icn"></div>
        @foreach (var tag in Model.Tags)
        {
                    <a class="ef-button" href="@Url.Action("Tag", "Admin", new { Name = tag.TagName })">
            
            <span>@tag.TagName</span></a>
					
        }
    </div>	
    </div>

    <div align="left">
            <a href="@Url.Action("Index")" class="ef-button"><span>بازگشت به فهرست مشاغل
 </span></a>
        

    </div>
    

</div>



